{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>  River Plate!!  </h1>
        <p>El más grande lejos. Acordate de Madrid 2019</p>
    </div>

    <div class=col-4>
        <img src="assets/img/River-La quinta.jpg" class="img-thumbnail">
        
    </div>

</div>

{{>footer}}